<form action="/comment/<%= @commentable_id %>" method="post">
  <textarea rows="4" cols="25" name="message">
  </textarea>
  <input class="post" type="submit">
  <input type="hidden" value="<%=@user.id%>">
</form>
