<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
 <link rel="stylesheet" href="/css/style.css" >
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <title><%= @title %></title>
</head>
<body>
  <div id="main">
    <%= yield %>
  </div>


</body>
</html>
