 <!doctype html>
<html lang="en">
<head>
 <meta charset="utf8">
<link rel="stylesheet" href="/css/style.css" >

<form action="/login" method="post">
  <p>
    Username: <input type="text" name="username"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit">
  </p>
</form>

<a href="/register">register</a>
